

header {
  background-color: #19444D;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  color: white;
}


/* Filter knapper */

.wrapper {
  overflow: hidden;
  margin: 0 200px;
}

#myBtnContainer {
  padding: 0 200px;
  background-color: #E6F1F0;
}

.filterDiv {
  text-align: center;
  float: left;
  background-color: black;
  color: #ffffff;
  width: 200px;
  height: 300px;
  margin: 3px;
  text-align: center;
  display: none;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #122f36;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #F7E46E;
  color: black;
}

.btn.active {
  background-color: #666;
  color: white;
}

/* koncert annoncerne */

/* tekst og knapper */

.filterDiv p {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: inline-block;
  padding: 2px 0px;
  width: 180px;
  margin: 210px auto 0 auto;
  font-size: 18px;
}

.btn_semere {
  padding: 5px 60px;
  background-color: #122f36;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.btn_semere:hover {
  background-color: #F7E46E;
  color: black;
}

/* billeder */

#bombay, #chess, #volley, #træning, #fodbold, #kode, #adobe, #standup, #sulka, #bar, #bowling, #brunner, #pub, #network, #video, #leth, #ol {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bombay {
  background-image: url(billeder/drbombay-test.jpeg);
}

#chess {
  background-image: url(billeder/bratspil.jpg);
}

#volley {
  background-image: url(billeder/volleyball.jpg);
}

#træning {
  background-image: url(billeder/traning.jpg);
}

#fodbold {
  background-image: url(billeder/fodbold.jpg);
}

#kode {
  background-image: url(billeder/code.jpg);
}

#adobe {
  background-image: url(billeder/adobe.jpeg);
}

#standup {
  background-image: url(billeder/mic.jpg);
}

#sulka {
  background-image: url(billeder/sulka.jpeg);
}

#bar {
  background-image: url(billeder/fredagsbar.jpg);
}

#bowling {
  background-image: url(billeder/bowling.jpeg);
}

#brunner {
  background-image: url(billeder/brunsviger.jpeg);
}

#pub {
  background-image: url(billeder/pub.jpg);
}

#network {
  background-image: url(billeder/network.jpg);
}

#video {
  background-image: url(billeder/videowork.jpg);
}

#leth {
  background-image: url(billeder/nastenleth.jpg);
}

#ol {
  background-image: url(billeder/beer.jpg);
}

/* popup tekst om event */

#myDIV1, #myDIV2, #myDIV3, #myDIV4, #myDIV5, #myDIV6, #myDIV7, #myDIV8, #myDIV9, #myDIV10, #myDIV11, #myDIV12, #myDIV13, #myDIV14, #myDIV15, #myDIV16, #myDIV17     {
  width: auto;
  height: 500px;
  top: 110px;
  right: 230px;
  left: 230px;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn_omevent {
  cursor: pointer;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  background-color: #122f36;
  color: white;
  border: none;
}

.btn_omevent:hover {
  color: black;
}


.omevent_wrapper {
  display: flex;
}

.omevent_text {
  width: 50%;
  margin: 50px;
  line-height: 1.6;
}

h2 {
  margin-top: 0;
}

.omevent_figure {
  background-image: url(billeder/brunsviger.jpeg);
  width: 400px;
  height: 400px;
  margin: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

i {
  color: black;
}

@media screen and (max-width: 1350px) {
  .wrapper {
    margin: 0 150px;
  }
  #myBtnContainer {
    padding: 0 150px;
  }
}

@media screen and (max-width: 1073px) {
  .wrapper {
    margin: 0 75px;
  }
  #myBtnContainer {
    padding: 0 75px;
  }
}

@media screen and (max-width: 785px) {
  .btn {
    margin: 2px;
  }
}

@media screen and (max-width: 561px) {
  .filterDiv {
    width: 180px;
  }
}

@media screen and (max-width: 521px) {
  .wrapper {
    margin: 0 auto;
  }
  #myBtnContainer {
    padding-left: 10px;
    margin: 0;
  }
  .filterDiv {
    width: 100%;
  }

  main {
    margin: 10px;
  }

  #leth {
    background-position: top;
  }
}

@media only screen and (device-width : 375px) {
  .wrapper {
    margin: 0 auto;
  }
  #myBtnContainer {
    padding-left: 10px;
    margin: 0;
  }
  .filterDiv {
    width: 100%;
    height: 800px
  }

  main {
    margin: 10px;
  }

  #leth {
    background-position: top;
  }

  .filterDiv p {
    margin: 600px auto 0 auto;
    font-size: 30px;
    width: 313px;
  }

  .btn_semere {
    padding: 25px 100px;
    font-size: 30px;
  }
}

@media only screen and (device-width : 414px) {
  .wrapper {
    margin: 0 auto;
  }
  #myBtnContainer {
    padding-left: 10px;
    margin: 0;
  }
  .filterDiv {
    width: 100%;
    height: 800px
  }

  main {
    margin: 10px;
  }

  #leth {
    background-position: top;
  }

  .filterDiv p {
    margin: 600px auto 0 auto;
    font-size: 30px;
    width: 313px;
  }

  .btn_semere {
    padding: 25px 100px;
    font-size: 30px;
  }
}

@media only screen and (device-width : 320px) {
  .wrapper {
    margin: 0 auto;
  }
  #myBtnContainer {
    padding-left: 10px;
    margin: 0;
  }
  .filterDiv {
    width: 100%;
    height: 800px
  }

  main {
    margin: 10px;
  }

  #leth {
    background-position: top;
  }

  .filterDiv p {
    margin: 600px auto 0 auto;
    font-size: 30px;
    width: 313px;
  }

  .btn_semere {
    padding: 25px 100px;
    font-size: 30px;
  }
}
