* {
    font-family: 'Helvetica';
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

  input[type=submit] {
    background-color: #122f36;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #f7e46e;
    color: black;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  section {
      padding: 50px 0px;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
    padding: 2rem 200px;
  }


  #myDIV {
    width: 100px;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
    display: none;
    position: absolute;
    bottom: 75px;
    margin-left: 250px;
  }

#myDIV i {
    color: green;
    font-size: 250px;
}
