* body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

html {
  scroll-behavior: smooth;
}

/* navigation */

nav {
  display: flex;
  align-items: center;
  background-color: #122f36;
  padding: 0 100px;

}

nav h1 {
  color: #F5F2F2;
}

.logo_link{
  border: 0;
}

.logo_link:hover {
  text-decoration: none;

}

nav a {
  padding: 20px;
  text-decoration: none;
  color: #F5F2F2;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

/* mobil nav */

#mobil_nav {
  display: none;
}

.hamburgermenu {
  display: none;
}

/* Aktiviteter i odense sender de andre over mod højre */
.odense {
  margin-left: auto;
}

/* Hero */

.hero_img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(billeder/crowd.jpg);
  height: 410px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero_text {
  position: absolute;
  color: white;
  margin-left: 200px;
  margin-top: 40px;
}

.hero_dato {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 30px;
}

.hero_dato2 {
  font-size: 100px;
  margin: 0;
}

.hero_adresse {
  margin: 0;
  margin-top: 25px;
  font-size: 16px;
}

.hero_dato3 {
  font-size: 40px;
  margin: 0;
}

.hero_kunstner {
  font-size: 80px;
  margin: 0;
}

button {
  padding: 8px 40px;
}

button:hover {
  background-color: #f7e46e;
}

/* POPULÆRE EVENTS */


main h1 {
  text-align: center;
  margin: 40px 0;
}

main section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-left: 200px;
  margin-right: 200px;
}

main section figure {
  height: 350px;
  width: 300px;
  background-color: deeppink;
  margin: 0;
}

.main_events1 {
  background-image: url(billeder/sulka.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_events2 {
  background-image: url(billeder/beer.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 100px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_events3 {
  background-image: url(billeder/nastenleth.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  border: none;
  outline: none;
  padding: 12px 50px;
  background-color: #122f36;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #F7E46E;
  color: black;
}

.main_btn {
  text-align: center;
}

/* TEXT TIL POPULÆRE EVENTS */

.main_events1 p, .main_events2 p, .main_events3 p {
  color: white;
  margin-left: 10px;
}

.main_event_text {
  font-size: 25px;
  margin: 0;
}

.main_event_placering {
  margin: 0;
  margin-top: 20px;
}

.main_event_kunstner {
  margin: 0;
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 0px;
}

/* Om StudieEvent */

.omos_overskrift {
  text-align: left;
  margin: 0 0 30px 40px;
  font-size: 32px;
}

.main_omos {
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  background-color: white;
  margin-left: 200px;
  margin-right: 200px;
  top: -50px;
}

.omos_text {
  width: 50%;
  margin: auto 0;
}

.omos_text p {
  margin: 0 40px;
  font-size: 16px;
  line-height: 1.6;
}

.main_omos figure {
  background-image: url(billeder/workplace.jpeg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 100%;
}

.omos_wrapper {
  position: relative;
  height: 300px;
  width: 100%;
  background-color: #F0F0F0;
  margin-top: 150px;
}

/* FOOTER */
footer{
  width: 100%;
  background-color: #19444D;
  color: black;
  display: flex;
}


.column{
margin-left: 200px;
padding-bottom: 100px;
}

.column a {
  display: block;
  color: #f5f2f2;
  text-decoration: none;
  margin: 25px 0;
}

.column a:hover {
  text-decoration: underline;
  opacity: 50%;
  transition: 0.25s;
}

.column p {
 font-weight: bold;
 color: #f5f2f2;
 padding-top: 80px;
 margin-bottom: 30px;
}

.column3{
  margin-left: auto;
  margin-right: 180px;
  margin-top: 100px;
}

i {
  padding: 10px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  color: #f5f2f2;
}

i:hover {
  opacity: 50%;
  transition: 0.5s;
}

.footer_logo {
  color: white;
  text-decoration: none;
}



@media screen and (max-width: 1350px) {
  main section {
    margin-left: 150px;
    margin-right: 150px;
  }

  .main_omos {
    margin-left: 150px;
    margin-right: 150px;
  }

  .column {
    margin-left: 150px;
  }

  .hero_text {
    margin-left: 150px;
  }
}

@media screen and (max-width: 1264px) {
  main section figure {
    height: 300px;
    width: 250px;
  }
}

@media screen and (max-width: 1073px) {
  nav {
    padding: 0 25px;
  }
  main section {
    margin-left: 75px;
    margin-right: 75px;
  }

  .main_omos {
    margin-left: 75px;
    margin-right: 75px;
  }

  .column {
    margin-left: 75px;
  }

  .hero_text {
    margin-left: 75px;
  }
}

@media screen and (max-width: 923px) {
  main section {
    display: block;
  }

  .main_events1, .main_events2, .main_events3 {
    margin: 0 auto;
    width: 100%;
    height: 450px;
  }
  .main_events3 {
    background-position: top;
  }

  .omos_text {
    width: 100%;
  }

  .main_omos figure {
    width: 100%;
    margin-top: 20px;
  }

  .omos_wrapper {
    height: 450px;
  }

  .omos_overskrift {
    margin: 20px 0 20px 40px;
  }

  /* responsiv navigation */

  .odense {
    display: none;
  }

  .mobil_a {
    display: none;
  }

  #mobil_nav {
    display: none;
    padding: 10px 0;
    background-color: #19444D
  }

  #mobil_nav a {
    display: block;
    margin-left: 40px;
    padding: 10px 0;
    color: white;
    text-decoration: none;
  }

  .hamburgermenu {
    display: block;
    margin-left: auto;
  }

  /* footer */

  footer{
    display: block;
  }

  .column{
  text-align: center;
  margin: 0;
  padding: 20px 0;
  }

  .column3{
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }

  i {
    padding: 0px;
  }

  .column p {
   padding: 0;
   margin: 0;
   text-align: center;
  }
}

@media screen and (max-width: 571px) {
  .hero_img {
    height: 430px;
  }
}

@media screen and (max-width: 564px) {
  .omos_wrapper {
    height: 500px;
  }
}

@media only screen and (max-width: 513px) {
  .omos_wrapper {
    height: 550px;
  }
}

@media only screen and (device-width : 375px) {

  .hero_img {
    height: 410px;
  }

  main section {
    display: block;
  }

  .main_events1, .main_events2, .main_events3 {
    margin: 0 auto;
    width: 100%;
    height: 450px;
  }
  .main_events3 {
    background-position: top;
  }

  .omos_text {
    width: 100%;
  }

  .main_omos figure {
    width: 100%;
    margin-top: 20px;
  }

  .omos_wrapper {
    height: 550px;
  }

  .omos_overskrift {
    margin: 20px 0 20px 40px;
  }

  /* responsiv navigation */

  .odense {
    display: none;
  }

  .mobil_a {
    display: none;
  }

  #mobil_nav {
    display: none;
    padding: 10px 0;
    background-color: #19444D
  }

  #mobil_nav a {
    display: block;
    margin-left: 40px;
    padding: 10px 0;
    color: white;
    text-decoration: none;
  }

  .hamburgermenu {
    display: block;
    margin-left: auto;
  }

  /* footer */

  footer{
    display: block;
  }

  .column{
  text-align: center;
  margin: 0;
  padding: 20px 0;
  }

  .column3{
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }

  i {
    padding: 0px;
  }

  .column p {
   padding: 0;
   margin: 0;
   text-align: center;
  }

  /* text */

  * p {
    font-size: 30px;
  }

  * h1 {
    font-size: 50px;
  }

  .main_event_text {
    font-size: 40px;
  }

  .main_event_kunstner {
    font-size: 45px;
  }

  .omos_text p {
    font-size: 30px;
  }

  .hero_adresse {
    font-size: 30px;
  }

  a {
    font-size: 30px;
  }

  /* knapper */

  button {
    padding: 25px 100px;
    font-size: 30px;
  }

}

@media only screen and (device-width : 414px) {
  .hero_img {
    height: 410px;
  }

  main section {
    display: block;
  }

  .main_events1, .main_events2, .main_events3 {
    margin: 0 auto;
    width: 100%;
    height: 450px;
  }
  .main_events3 {
    background-position: top;
  }

  .omos_text {
    width: 100%;
  }

  .main_omos figure {
    width: 100%;
    margin-top: 20px;
  }

  .omos_wrapper {
    height: 550px;
  }

  .omos_overskrift {
    margin: 20px 0 20px 40px;
  }

  /* responsiv navigation */

  .odense {
    display: none;
  }

  .mobil_a {
    display: none;
  }

  #mobil_nav {
    display: none;
    padding: 10px 0;
    background-color: #19444D
  }

  #mobil_nav a {
    display: block;
    margin-left: 40px;
    padding: 10px 0;
    color: white;
    text-decoration: none;
  }

  .hamburgermenu {
    display: block;
    margin-left: auto;
  }

  /* footer */

  footer{
    display: block;
  }

  .column{
  text-align: center;
  margin: 0;
  padding: 20px 0;
  }

  .column3{
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }

  i {
    padding: 0px;
  }

  .column p {
   padding: 0;
   margin: 0;
   text-align: center;
  }

  /* text */

  * p {
    font-size: 30px;
  }

  * h1 {
    font-size: 50px;
  }

  .main_event_text {
    font-size: 40px;
  }

  .main_event_kunstner {
    font-size: 45px;
  }

  .omos_text p {
    font-size: 30px;
  }

  .hero_adresse {
    font-size: 30px;
  }

  a {
    font-size: 30px;
  }

  /* knapper */

  button {
    padding: 25px 100px;
    font-size: 30px;
  }
}

@media only screen and (device-width : 320px) {
  .hero_img {
    height: 410px;
  }

  main section {
    display: block;
  }

  .main_events1, .main_events2, .main_events3 {
    margin: 0 auto;
    width: 100%;
    height: 450px;
  }
  .main_events3 {
    background-position: top;
  }

  .omos_text {
    width: 100%;
  }

  .main_omos figure {
    width: 100%;
    margin-top: 20px;
  }

  .omos_wrapper {
    height: 550px;
  }

  .omos_overskrift {
    margin: 20px 0 20px 40px;
  }

  /* responsiv navigation */

  .odense {
    display: none;
  }

  .mobil_a {
    display: none;
  }

  #mobil_nav {
    display: none;
    padding: 10px 0;
    background-color: #19444D
  }

  #mobil_nav a {
    display: block;
    margin-left: 40px;
    padding: 10px 0;
    color: white;
    text-decoration: none;
  }

  .hamburgermenu {
    display: block;
    margin-left: auto;
  }

  /* footer */

  footer{
    display: block;
  }

  .column{
  text-align: center;
  margin: 0;
  padding: 20px 0;
  }

  .column3{
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }

  i {
    padding: 0px;
  }

  .column p {
   padding: 0;
   margin: 0;
   text-align: center;
  }

  /* text */

  * p {
    font-size: 30px;
  }

  * h1 {
    font-size: 50px;
  }

  .main_event_text {
    font-size: 40px;
  }

  .main_event_kunstner {
    font-size: 45px;
  }

  .omos_text p {
    font-size: 30px;
  }

  .hero_adresse {
    font-size: 30px;
  }

  a {
    font-size: 30px;
  }

  /* knapper */

  button {
    padding: 25px 100px;
    font-size: 30px;
  }
}
