* body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

html {
  scroll-behavior: smooth;
}

/* navigation */

nav {
  display: flex;
  align-items: center;
  background-color: #122f36;
  padding: 0 100px;
}

nav h1 {
  color: #F5F2F2;
  margin: 20px 0;
}

.logo_link {
  padding: 0;
}

nav a {
  padding: 20px;
  text-decoration: none;
  color: #F5F2F2;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}

/* Aktiviteter i odense sender de andre over mod højre */
.odense {
  margin-left: auto;
}

/* Hero */

.hero_img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(billeder/concert.jpg);
  height: 410px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero_text {
  position: absolute;
  color: white;
  margin-left: 200px;
  margin-top: 40px;
}

.hero_dato {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 30px;
}

.hero_dato2 {
  font-size: 100px;
  margin: 0;
}

.hero_adresse {
  margin: 0;
  margin-top: 25px;
  font-size: 16px;
}

.hero_dato3 {
  font-size: 40px;
  margin: 0;
}

.hero_kunstner {
  font-size: 80px;
  margin: 0;
}

button {
  padding: 8px 40px;
}

button:hover {
  background-color: #f7e46e;
}

/* POPULÆRE EVENTS */


main h1 {
  text-align: center;
  margin: 40px 0;
}

main section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-left: 200px;
  margin-right: 200px;
}

main section figure {
  height: 350px;
  width: 300px;
  background-color: deeppink;
  margin: 0;
}

.main_events1 {
  background-image: url(billeder/drbombay.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_events2 {
  background-image: url(billeder/ol.jpeg);
  background-position: center;
  background-size: cover;
  margin-top: 100px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_events3 {
  background-image: url(billeder/nastenleth.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  border: none;
  outline: none;
  padding: 12px 50px;
  background-color: #122f36;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #F7E46E;
  color: black;
}

.main_btn {
  text-align: center;
}

/* TEXT TIL POPULÆRE EVENTS */

.main_events1 p, .main_events2 p, .main_events3 p {
  color: white;
  margin-left: 10px;
}

.main_event_text {
  font-size: 25px;
  margin: 0;
}

.main_event_placering {
  margin: 0;
  margin-top: 20px;
}

.main_event_kunstner {
  margin: 0;
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 0px;
}

/* Om StudieEvent */

.omos_overskrift {
  text-align: left;
  margin: 0 0 30px 40px;
  font-size: 32px;
}

.main_omos {
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  background-color: white;
  margin-left: 200px;
  margin-right: 200px;
  top: -50px;
}

.omos_text {
  width: 50%;
  margin: auto 0;
}

.omos_text p {
  margin: 0 40px;
  font-size: 16px;
  line-height: 1.6;
}

.main_omos figure {
  background-image: url(billeder/workplace.jpeg);
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 100%;
}

.omos_wrapper {
  position: relative;
  height: 300px;
  width: 100%;
  background-color: #F0F0F0;
  margin-top: 150px;
}

/* FOOTER */
footer{
  width: 100%;
  background-color: #19444D;
  color: black;
  display: flex;
}

.column{
margin-left: 200px;
padding-bottom: 100px;
}

.column a {
  display: block;
  color: #f5f2f2;
  text-decoration: none;
  margin: 25px 0;
}

.column a:hover {
  text-decoration: underline;
  opacity: 50%;
  transition: 0.25s;
}

.column p {
 font-weight: bold;
 color: #f5f2f2;
 padding-top: 80px;
 margin-bottom: 30px;
}

.column3{
  margin-left: auto;
  margin-right: 180px;
  margin-top: 180px;
}

i {
  padding: 10px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  color: #f5f2f2;
}

i:hover {
  opacity: 50%;
  transition: 0.5s;
}
